{% load static %}
{% load fb_versions %}

    <div class="container" data-animate="fadeInUpBig">
    {% if home %}

        <div class="col-md-12">
            <div class="box slideshow">
                <h2>{{ home.title }}</h2>
                <div class='col-md-12'>{{ home.html|safe }}</div>
                <div id="get-inspired" class="owl-carousel owl-theme">
                    <div class="item">
                        {% if home.get_images.exists %}
                            {% for i in home.get_images %}
                                <img src="{% version i.image 'max' %}" alt="Get inspired" class="img-responsive">
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% else %}
    <div class="alert lead">
        <h1>Войдите в <a target="_blank" href="/admin">Административую панель [pYAp]!</a><br>
            <small>под своим логином и паролем</small>
        </h1>
        <p>В Админке нужно создать объекты, которые необходимы для проекта.</p>
        <ol>
            <li>Настройки Главной страницы</li>
            <li>Добавление товаров и каталогов</li>
            <li>Создание Галереи</li>
            <li>Ведение Блогов</li>
        </ol>
    </div>
    {% endif %}
    </div>
