{% extends 'main.html' %}
{% load staticfiles %}
{% load mptt_tags %}
{% load fb_versions %}

{% block title %}{{ object.seo_title }}{% endblock %}
{% block description %}{{ object.seo_description }}{% endblock %}
{% block keywords %}{{ object.seo_keywords }}{% endblock %}

{% block additional_css %}{% endblock %}


{% block breadcrumbs %}
    {% include 'default/breadcrumbs.html' with tree=object.get_ancestors obj=object %}
{% endblock %}

{% block leftbar %}
    {% include 'default/leftbar.html' %}
{% endblock %}

{% block main %}

    <div class="col-md-9">
        <div class="box row">
            <h1>{{ object.title }}</h1>
            {% if object.get_main_image %}
                <img class="img-responsive" src="{% version object.get_main_image.image 'max' %}" title="{{ object.get_main_image.image_title }}" alt="{{ object.get_main_image.image_title }}">
            {% endif %}
        </div>
        {% if object.html %}
            <div class="box">
                <div class="content">{{ object.html|safe }}</div>
            </div>
        {% endif %}
        {% include 'catalog/templates/catalog_child_list.html' %}
        {% include 'catalog/templates/catalog_sort_row.html' with type='gallery' %}
        {% include 'gallery/templates/gallery_photo_list.html' %}

    </div>

{% endblock %}

{% block additional_js %}{% endblock %}