{% if comments.exists %}
{% load fb_versions %}
<div class="row comment last">
    {% for comment in comments %}
        {% if comment.user and comment.user.userprofile.avatar %}
            <div class="col-sm-3 col-md-2 text-center-xs">
                <p><img src="{% version comment.user.userprofile.avatar 'thumbnail' %}" class="img-responsive img-circle" alt=""></p>
            </div>
        {% endif %}

        <div class="col-sm-9 col-md-10">
            <h5>{{ comment.username }}</h5>
            <p class="posted"><i class="fa fa-clock-o"></i> <time itemprop="dateCreated" datetime="{{ comment.created|date:'Y-m-d H:i:s' }}">{{ comment.created|date:'d/m/Y' }}</time></p>
            <p>{{ comment.text|truncatewords:80}}</p>
{#            <p class="reply"><a href="#"><i class="fa fa-reply"></i> Reply</a></p>#}
        </div>
        {% empty %}
        <p>Коментариев нет...</p>
    {% endfor %}
</div>


{% endif %}