{% load mptt_tags %}

    <div class="col-md-3">
        <div class="panel panel-default sidebar-menu">
            <div class="panel-heading"><h3 class="panel-title"> {{ leftbar.root_obj.title }}</h3></div>
            <div class="panel-body">
                <ul class="nav nav-pills nav-stacked category-menu">
                    {% if leftbar.obj_list %}
                        {% recursetree leftbar.obj_list %}
                            <li class='{% if not node.is_leaf_node %}has-sub parent {% endif %}{% if leftbar.obj.title == node.title %}active open{% endif %}'>
                                <a href="{{ node.get_absolute_url }}">{{ node.title }}
                                    {% if leftbar.obj.title == node.title %}<span class="badge pull-right">{{ objects|length }}</span>{% endif %}</a>
                                    {% if not node.is_leaf_node %}
                                        <ul class="children{{ node.is_child_node }}">{{ children }}</ul>
                                    {% endif %}
                            </li>
                        {% endrecursetree %}
                    {% endif %}
                </ul>
            </div>

            <div class="panel-heading"><h3 class="panel-title">Тэги</h3></div>
            <p class="panel-body">
            {% if object.tags.exists %}
                {% for tag in object.tags.iterator %}
                    <a href="?tag={{ tag.id }}" class="{% if request.GET.tag == tag.id|lower %} btn-primary{% endif %} tag btn btn-sm btn-default">{{ tag }}</a>
                {% endfor %}
            {% endif %}
            </div>
        </div>

{#            <div class="panel panel-default sidebar-menu">#}
{##}
{#                <div class="panel-heading">#}
{#                    <h3 class="panel-title">Brands <a class="btn btn-xs btn-danger pull-right" href="#"><i class="fa fa-times-circle"></i> Clear</a></h3>#}
{#                </div>#}
{##}
{#                <div class="panel-body">#}
{##}
{#                    <form>#}
{#                        <div class="form-group">#}
{#                            <div class="checkbox">#}
{#                                <label>#}
{#                                    <input type="checkbox">Armani (10)#}
{#                                </label>#}
{#                            </div>#}
{#                            <div class="checkbox">#}
{#                                <label>#}
{#                                    <input type="checkbox">Versace (12)#}
{#                                </label>#}
{#                            </div>#}
{#                            <div class="checkbox">#}
{#                                <label>#}
{#                                    <input type="checkbox">Carlo Bruni (15)#}
{#                                </label>#}
{#                            </div>#}
{#                            <div class="checkbox">#}
{#                                <label>#}
{#                                    <input type="checkbox">Jack Honey (14)#}
{#                                </label>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                        <button class="btn btn-default btn-sm btn-primary"><i class="fa fa-pencil"></i> Apply</button>#}
{##}
{#                    </form>#}
{##}
{#                </div>#}
{#            </div>#}
{##}
{#            <div class="panel panel-default sidebar-menu">#}
{##}
{#                <div class="panel-heading">#}
{#                    <h3 class="panel-title">Colours <a class="btn btn-xs btn-danger pull-right" href="#"><i class="fa fa-times-circle"></i> Clear</a></h3>#}
{#                </div>#}
{##}
{#                <div class="panel-body">#}
{##}
{#                    <form>#}
{#                        <div class="form-group">#}
{#                            <div class="checkbox">#}
{#                                <label>#}
{#                                    <input type="checkbox"> <span class="colour white"></span> White (14)#}
{#                                </label>#}
{#                            </div>#}
{#                            <div class="checkbox">#}
{#                                <label>#}
{#                                    <input type="checkbox"> <span class="colour blue"></span> Blue (10)#}
{#                                </label>#}
{#                            </div>#}
{#                            <div class="checkbox">#}
{#                                <label>#}
{#                                    <input type="checkbox"> <span class="colour green"></span> Green (20)#}
{#                                </label>#}
{#                            </div>#}
{#                            <div class="checkbox">#}
{#                                <label>#}
{#                                    <input type="checkbox"> <span class="colour yellow"></span> Yellow (13)#}
{#                                </label>#}
{#                            </div>#}
{#                            <div class="checkbox">#}
{#                                <label>#}
{#                                    <input type="checkbox"> <span class="colour red"></span> Red (10)#}
{#                                </label>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                        <button class="btn btn-default btn-sm btn-primary"><i class="fa fa-pencil"></i> Apply</button>#}
{##}
{#                    </form>#}
{##}
{#                </div>#}
{#            </div>#}
{##}
{#            <!-- *** MENUS AND FILTERS END *** -->#}
{##}
{#            <div class="banner">#}
{#                <a href="#">#}
{#                    <img src="img/banner.jpg" alt="sales 2014" class="img-responsive">#}
{#                </a>#}
{#            </div>#}


