{% extends 'main.html' %}
{% load staticfiles %}
{% load mptt_tags %}

{% block additional_css %}{% endblock %}


{% block leftbar %}{% endblock %}


{% block header %}
    {% if messages %}
        <ul class="messages" style="position:fixed;font-size: 60px;">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}


    <header class="header-container">
        <div class="header-wrap">

            {% include 'menu/templates/topmenu.html' %}
{#            {% include 'menu/templates/mainmenu.html' %}#}
        </div>
        <span class="header-dim"></span>
    </header>
{% endblock %}


{% block main %}
    <div id="page-title"><div class="center"><h1>Введите новый пароль</h1></div></div>

    <div id="layout" class="wide">
        <div id="container">
            <div id="content" class="center">
                <div class="post-12 page type-page status-publish hentry">
                    <div class="dervek">
                        <div id="content" class="colM">
                            <p>Пожалуйста, введите новый пароль дважды, чтобы мы могли убедиться в правильности написания.</p>
                            {% if validlink %}
                                <form method="post">{% csrf_token %}
                                    {{ form.as_p }}
                                    <input type="submit" value="Изменить пароль" />
                                </form>
                            {% else %}
                                <p>Ссылка на сброс пароля была недействительной, возможно, потому, что она уже использовалась.</p>
                                <p>Пожалуйста, запросите новый сброс пароля.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block additional_js %}{% endblock %}
