{% extends 'main.html' %}
{% load staticfiles %}
{% load mptt_tags %}

{% block additional_css %}{% endblock %}


{% block leftbar %}{% endblock %}


{% block header %}
    {% if messages %}
        <ul class="messages" style="position:fixed;font-size: 60px;">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}


    <header class="header-container">
        <div class="header-wrap">

            {% include 'menu/templates/topmenu.html' %}
{#            {% include 'menu/templates/mainmenu.html' %}#}
        </div>
        <span class="header-dim"></span>
    </header>
{% endblock %}


{% block main %}


    <div id="page-title"><div class="center"><h1>Письмо с инструкциями по восстановлению пароля отправлено</h1></div></div>

    <div id="layout" class="wide">
        <div id="container">
            <div id="content" class="center">
                <div class="post-12 page type-page status-publish hentry">
                    <div class="dervek">
                        <div id="content" class="colM">
                            <p>Мы отправили вам инструкцию по установке нового пароля на указанный адрес электронной почты<br>
                                (если в нашей базе данных есть такой адрес). Вы должны получить ее в ближайшее время.</p>
                            <p>Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели адрес с которым Вы зарегистрировались, и проверьте папку со спамом.</p>
                            <br class="clear">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block additional_js %}{% endblock %}
